

table{
	width : 100%;
	height : 100%;
}

.background{
	padding-left: 10%;
	padding-right: 10%;
}
.header-menu{
	width : 100%;
	height : 10%;
}

.footer-menu{
	width : 100%;
	height : 10%;
}

.content-menu{
	border : 1px solid black;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 30%;
	padding-right: 30%;
	width : 40%;
	height : 80%;
}

.registration-section{
	border : 1px solid black;
	padding-top : 5%;
	padding-bottom: 5%;
	padding-left : 10%;
	padding-right : 10%;
	width : 100%;
	height : 80%;
}

.input-section{
	height : 30%;
	padding-top : 1%;
	padding-left : 1%;
}
.input{
	width : 100%;
}

.button-section{
	border : 1px solid black;
	padding-left: 10%;
	padding-right: 10%;
	width : 100%;
	height : 50px;
}

.registration-button{
	float : left;
	width : 40%;
}

.registration{
	width : 100%;
	height : 100%;
}
