
tr, td{
	border:1px solid black;
	text-align : center;
}

table{
	height : 60%;
	margin-top : 5%;
	margin-left : 30%;
	text-align: center;
}

tr,td{
	height : 20px;
}

h1{
	margin-left : 20%;
}

.background{

	height : 100%;
	padding-left : 10%;
	padding-right : 10%;
}

.header{
	background-color : #ff3333;
	height : 10%;
}

.side{
	background-color: #aaaaaa;
	float : left;
	width : 10%;
	height : 80%;
}

.selectingseat{
	background-color : green;
}

.seatbtn{
	cursor : pointer;
}


.content{
	margin-left : 30%;
	height : 80%;
}

.seatCont{
	display : inline-block;
}

.detailCont{
	padding-top : 5%;
	width : 50%;
	height : 40%;
	float : right;
}

.reservation-log, .nonpayment{
	background-color : #ff9999;
	width : 90%;
	height : 10%;
	margin-left : 5px;
	margin-top : 5px;
	text-align : center;
}

.trainNum-section{
	width : 50%;
	margin-left : 25%;
}

.trainNum{
	width : 100%;
}

.reservation{
	background-color : #ff3333;
	width : 90%;
	height : 10%;
	margin-left : 5px;
	margin-top : 5px;
	text-align : center;
}


.footer{
	clear : both;
	height : 10%;
}
