
tr, td{
	border:1px solid black;
	text-align : center;
}

h1{
	margin-left : 5%;
}

.background{

	height : 100%;
	padding-left : 10%;
	padding-right : 10%;
}

.header{
	background-color : #ff3333;
	height : 10%;
}

.side{
	background-color: #aaaaaa;
	float : left;
	width : 10%;
	height : 80%;
}


.content{
	height : 80%;
	margin-left : 15%;
	margin-top : 5%;
}

.reservation-log, .nonpayment{
	background-color : #ff9999;
	width : 90%;
	height : 10%;
	margin-left : 5px;
	margin-top : 5px;
	text-align : center;
}

.search{
	float : right;
}

.reservation{
	background-color : #ff3333;
	width : 90%;
	height : 10%;
	margin-left : 5px;
	margin-top : 5px;
	text-align : center;
}

.select{
	background-color: #aaaaaa;
}

.footer{
	clear : both;
	height : 10%;
}
