
table, tr, td{
	border:1px solid black;
}
.background{

	height : 100%;
	padding-left : 10%;
	padding-right : 10%;
}

.header{
	height : 10%;
}

.side{
	background-color: #aaaaaa;
	float : left;
	width : 10%;
	height : 80%;
}

.reservation, .reservation-log{
	background-color : #ff9999;
	width : 90%;
	height : 10%;
	margin-left : 5px;
	margin-top : 5px;
	text-align : center;
}

.train-info{
	background-color : #ff3333;
	width : 90%;
	height : 10%;
	margin-left : 5px;
	margin-top : 5px;
	text-align : center;
}


.footer{
	clear : both;
	height : 10%;
}
